.green-color {
  background-color: #00b300 !important;
}

.yellow-color {
  color: #e6e6e6 !important;
  font-weight: bold;
}

.titulo {
  font-size: 25px;
}

.fontes {
  color: black;
}

.NavLink {
  cursor: pointer;
}
